VITE_PUBLIC_BASE_PATH=/hr_hiring/
VITE_API_ROUTER_PATH=/hr_hiring_api
VITE_API_BASE_URL=http://127.0.0.1:8010

VITE_AUTH_MODE=dev
VITE_ENTRA_CLIENT_ID=
VITE_ENTRA_TENANT_ID=
VITE_ENTRA_REDIRECT_PATH=/hr_hiring/
